  <div class="row dashboard-wrapper">

    <div class="col-sm-3 blog-sidebar">
      <div class="sidebar-module">
        <h4><%= current_user %></h4>
        <ol class="list-unstyled">
          <%= link_to "Create Booking", new_enquiry_path %>
        </ol>
      </div>
      <div class="sidebar-module">
        <h4>Exchange Rate</h4>
        <p>USD Rate for 1 Aud <strong>0.781075</strong></p>
      </div>
      <div class="sidebar-module">
        <h4>Guests Activities</h4>
        <ol class="list-unstyled">
          <li><a href="#"><%= Customer.count %> Current guests</a></li>
          <li><a href="#">0 Arrivals in next 24 hours</a></li>
          <li><a href="#">0 Departures in next 24 hours</a></li>
        </ol>
      </div>
      <% if @messages != '' %>
      <div class="sidebar-module">
        <h4>Month To Date</h4>
        <ol class="list-unstyled">
          <li><a href="<%= enquiries_path %>"> <%= current_user.enquiries.count %> enquiries</a></li>
          <li><a href="#">0 on holds</a></li>
          <li><a href="#">0 confirmed</a></li>
          <li><a href="#">0 completed</a></li>
        </ol>
        <ol class="list-unstyled">
          <li><a href="<%= enquiries_path %>"><u>View All Requests</u></a></li>
        </ol>
      </div>
      <% end %>
      <div class="sidebar-module">
        <h4>Payment Due</h4>
        <ol class="list-unstyled">
          <li><a href="#"><u>View All Payment Due</u></a></li>
        </ol>
      </div>
    </div><!-- /.blog-sidebar -->

    <div class="col-sm-8 offset-sm-1 blog-main">
      <nav class="navbar navbar-light bg-faded rounded navbar-toggleable-md">
        <li class="nav-item">
          <a class="nav-link" href="<%= root_path %>">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Inbox</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= new_enquiry_path %>">Bookings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Reports</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= properties_path %>">Properties</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Admin</a>
        </li>

      </nav>

      <% if @messages != '' %>
      <div class="row dashboard-wrapper">
        <div class="col-md-12">
          New Enquiries
          <% if @messages.nil? || @messages.empty? %>
          <p>Data Empty</p>
          <% else %>
            <% @messages.each do |p| %>
            <%= render p %>
            <% end %>
          <% end %>

          <div class="row float-right">
            <a class="btn btn-outline-primary " href="<%= enquiries_path %>">View All Enquiries</a>
          </div>
        </div>
      </div><!-- /.row -->

      <% else %>
      <div class="row dashboard-wrapper">
        <div class="col-md-12">
          Awaiting Partner Response
          <div class="row message">
            <div class="col-md-2">Hilten Mistry <span class="badge badge-default">Enquiry</span></div>
            <div class="col-md-4">06/08/2017 to 13/08/2017<br/>Villa Kodok</div>
            <div class="col-md-3">Seminyak <br/> USD $200</div>
            <div class="col-md-2">24 hours ago</div>
            <div class="col-md-1"><span class="badge badge-default">3</span></div>
          </div>
          <div class="row float-right">
            <a class="btn btn-outline-primary " href="#">View All New Partner Response</a>
          </div>
        </div>
      </div><!-- /.row -->
      <% end %>
    </div><!-- /.blog-main -->



  </div><!-- /.row -->
